body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: #53b72e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    font-size: 2.5vh;
}

.navbar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-item {
    margin-left: 20px;
}

.navbar-link {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-link:hover {
    background-color: #575757;
    color: #fff;
}

.linea-con-texto {
    margin-top: 7.8vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-bottom:0;

}

.linea {
    flex-basis: 40%;
    height: 10px;
    margin: 0;
    background-color: #006843;
}

.texto {
    white-space: nowrap;
    font-size: 6vw;
    font-family: fantasy;
    font-style: oblique;
    border-collapse: collapse;
}

.inicial-inter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.item-inter{
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #000000;
text-decoration: none; 
background-color: #ffffff; 
font-weight: 900; 
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 37.6vw; 
overflow: auto;
box-sizing: border-box;
}

.item-inter:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #00000072; 
}

.img-inter {
width: 100%; 
}

.item-ventana {
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #ffffff;
background-color: #ffffff;
text-decoration: none; 
font-weight: 900;
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 54vw;
overflow: auto;
box-sizing: border-box;
}

.item-ventana:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #0000004d; 
}

.img-ventana {
width: 100%;
}





.inicial-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.item-profe{
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #000000;
text-decoration: none; 
background-color: #ffffff; 
font-weight: 900; 
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 37.6vw; 
overflow: auto;
box-sizing: border-box;
}

.item-profe:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #00000072; 
}

.titulo-profe{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: italic;
font-size:3vw;
text-align: center;
}

.cuerpo-profe{
margin-left: 1vw;
font-size: 2.1vw;
}

.item-info {
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #ffffff;
background-color: #ffffff;
text-decoration: none; 
font-weight: 900;
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 54vw;
overflow: auto;
box-sizing: border-box;
}

.item-info:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #0000004d; 
}





.item-profe{
    border: 7px solid #006843;
    margin: 10px;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    color: #000000;
    text-decoration: none; 
    background-color: #ffffff; 
    font-weight: 900; 
    border-radius: 5px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 37.6vw; 
    overflow: auto;
    box-sizing: border-box;
    }
    
    .item-profe:hover {
    transform: translateY(-10px); 
    box-shadow: 0 8px 15px #00000072; 
    }
    
    .titulo-profe{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size:3vw;
    text-align: center;
    }
    
    .cuerpo-profe{
    margin-left: 1vw;
    font-size: 2.1vw;
    }
    
    .item-profe{
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #000000;
text-decoration: none; 
background-color: #ffffff; 
font-weight: 900; 
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 37.6vw; 
overflow: auto;
box-sizing: border-box;
}

.item-profe:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #00000072; 
}

.titulo-profe{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: italic;
font-size:3vw;
text-align: center;
}

.cuerpo-profe{
margin-left: 1vw;
font-size: 2.1vw;
}

.item-infor {
border: 7px solid #006843;
margin: 10px;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
color: #000000;
background-color: #ffffff;
text-decoration: none; 
font-weight: 900;
border-radius: 5px; 
transition: transform 0.3s ease, box-shadow 0.3s ease;
width: 54vw;
overflow: auto;
box-sizing: border-box;
}

.item-infor:hover {
transform: translateY(-10px); 
box-shadow: 0 8px 15px #0000004d; 
}

.titulo-infor{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: oblique;
text-align: center;
font-size: 7vw;
padding: 0;
}

ul{
    list-style-type: none;
}

.cuerpo-infor{
font-family:'Arial Narrow', Arial, sans-serif;
font-weight: 900;
font-size: 4vw;
}

.lista-infor{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size: 3.3vw;
}
